<app-header></app-header>

<body>
  <section class="home">
    <div class="swiper bg-slider" id="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../../../.././img/fondo1.jpg" alt="" style="filter: brightness(0.9)" />
          <div class="text-content">
            <h2 class="titulo">Miami <span>ARS 300.600</span></h2>
            <p class="fecha_carrusel">Viaja el 01/11</p>
            <button class="read-btn">
              Comprar <i class="uil uil-plane"></i>
            </button>
          </div>
        </div>
        <div class="swiper-slide dark-layer">
          <img src="../../../../img/fondo2.jpg" alt="" style="filter: brightness(0.8)" />
          <div class="text-content">
            <h2 class="titulo">Madrid <span>ARS 300.800</span></h2>
            <p class="fecha_carrusel">Viaja el 02/11</p>
            <button class="read-btn">
              Comprar <i class="uil uil-plane"></i>
            </button>
          </div>
        </div>
        <div class="swiper-slide dark-layer">
          <img src="../../../../img/fondo3.jpg" alt="" style="filter: brightness(0.9)" />
          <div class="text-content">
            <h2 class="titulo">Tokio <span>ARS 520.600</span></h2>
            <p class="fecha_carrusel">Viaja el 03/11</p>
            <button class="read-btn">
              Comprar <i class="uil uil-plane"></i>
            </button>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="../../../../img/fondo4.jpg" alt="" style="filter: brightness(0.9)" />
          <div class="text-content">
            <h2 class="titulo">Amsterdam <span>ARS 520.600</span></h2>
            <p class="fecha_carrusel">Viaja el 04/11</p>
            <button class="read-btn">
              Comprar <i class="uil uil-plane"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-slider-thumbs">
      <div class="swiper-wrapper thumbs-container">
        <img src="../../../../img/fondo1.jpg" class="swiper-slide" alt="" />
        <img src="../../../../img/fondo2.jpg" class="swiper-slide" alt="" />
        <img src="../../../../img/fondo3.jpg" class="swiper-slide" alt="" />
        <img src="../../../../img/fondo4.jpg" class="swiper-slide" alt="" />
      </div>
    </div>
  </section>

  <main>
    <div class="contenedor">
      <div class="sidebar">
        <p>Indique su lugar de origen</p>
        <select class="selectpicker" data-show-subtext="true" data-live-search="true" name="origin" [(ngModel)]="selectedOrigin" #originSelect>
          <option *ngFor="let origin of origins" [value]="origin">{{ origin }}</option>
        </select>
        <p>Indique su lugar de destino</p>
        <select class="selectpicker" data-show-subtext="true" data-live-search="true" [(ngModel)]="selectedDestination" #destinationSelect>
          <option *ngFor="let destination of destinations" [value]="destination">{{ destination }}</option>
        </select>
        <p>Numero de pasajeros</p>
        <select class="selectpicker" id="">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
        <p>Fecha de Vuelo</p>
        <input type="date" class="calendario" [(ngModel)]="selectedDate" (input)="onSearch()" />
      </div>
      <div class="busqueda">
        <i class="uil uil-search"></i>
        <input type="text" [(ngModel)]="searchText" placeholder="Buscar por destino" (input)="onSearch()"/>
      </div>
      <div class="card" *ngFor="let item of getPaginatedData(); let index = index">
          <p class="fecha_disp">Viaja el {{item.hora_salida | date:'dd-MM-yyyy' }}</p>
          <img class="foto_lugar" src="{{ item.imagen}}" alt="" />
          <p class="card-title ciudad">{{ item.origen }} ➝ {{item.destino}}</p>
          <p class="precio">ARS {{ item.precio }}</p>
          <div class="agregaviaje">
            <button class="botonviaje uil uil-shopping-cart-alt" (click)="agregarAlCarrito(item)"> Agregar al carrito</button>
          </div>
      </div>
    </div>
    <div class="paginator">
      <img src="../../../../img//flecha-izq.svg"(click)="previousPage()">
      <p>{{ currentPage }}</p>
      <img src="../../../../img//flecha-der.svg" (click)="nextPage()" />
    </div>
  </main>
</body>
<app-footer></app-footer>