* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  margin-bottom: 0.5rem !important;
}

body {
  background: var(--body-bg-color);
}

section {
  position: relative;
}

.section {
  color: #ffffff;
  background: var(--section-bg-color);
  padding: 35px 200px;
  transition: 0.3s ease;
}

/*======= Inicio  =======*/
.home {
  min-height: 80vh;
  /*ajustado para achicar img slider (100vh)*/
}

.home:before {
  z-index: 888;
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--section-bg-color));
}

/*======= Slider / Carrusel =======*/
.bg-slider {
  z-index: 777;
  position: relative;
  width: 100%;
  min-height: 80vh;
  /*ajustado para achicar img slider (100vh)*/
}

.bg-slider .swiper-slide {
  position: relative;
  width: 100%;
  height: 80vh;
  /*ajustado para achicar img slider (100vh)*/
}

.bg-slider .swiper-slide img {
  width: 100%;
  height: 80vh;
  /*ajustado para achicar img slider (100vh)*/
  object-fit: cover;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}

.swiper-slide .text-content {
  position: absolute;
  top: 18%;
  /*ajustado para achicar img slider (25%)*/
  color: #ffffff;
  margin: 0 200px;
  transition: 0.3s ease;
}

.swiper-slide .text-content .titulo {
  font-size: 4em;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0;
}

.swiper-slide-active .text-content .titulo {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
  text-shadow: 0px 0px 10px #0000007e;
}

.swiper-slide .text-content .titulo span {
  font-size: 0.3em;
  font-weight: 300;
}

.swiper-slide .text-content p {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 10px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  transform: translateX(-80px);
  opacity: 0;
  text-align: center;
  color: black;
}

.swiper-slide-active .text-content p {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn {
  border: none;
  outline: none;
  background: rgba(251, 254, 255, 0.656);
  color: var(--dark-color);
  font-size: 1em;
  font-weight: 500;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(50px);
  opacity: 0;
  color: #101010;
}

.swiper-slide-active .text-content .read-btn {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn i {
  font-size: 1.6em;
  transition: 0.3s ease;
}

.swiper-slide .text-content .read-btn:hover i {
  transform: translateX(3px);
}

.dark-layer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.bg-slider-thumbs {
  z-index: 777;
  position: absolute;
  bottom: 3em;
  /*ajustado para achicar img slider (7em)*/
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
}

.thumbs-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 3px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}

.thumbs-container img {
  width: 50px;
  height: 35px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.swiper-slide-thumb-active {
  border: 1px solid var(--white-color);
}

/*======= Iconos =======*/
.media-icons {
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 90px;
}

.media-icons a {
  color: var(--white-color);
  font-size: 1.7em;
  margin: 10px 0;
}
/* Barra Busqueda*/
@import url('https://kit.fontawesome.com/712575d4a5.js');
.busqueda {
  position: absolute;
  padding: 5px;
}
.busqueda input {
  width: 0px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #000;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
  transition: all 0.6s ease;
}
.busqueda .btn i{
  position: absolute;
  top:0;
  right: 0;
  background: #0078c9;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.busqueda:hover input{
  width: 240px;
}
.busqueda input:focus {
  width: 240px;
}
/*======= Seccion fecha de salida =======*/
<<<<<<< HEAD
=======
.about h2 {
  font-size: 3em;
  font-weight: 600;
}

.about p {
  margin: 25px 0;
}

>>>>>>> Feature
main {
  display: grid;
  grid-template-columns: 2;
  background: rgb(250, 255, 198);
  background: linear-gradient(0deg,
      rgba(250, 255, 198, 1) 0%,
      rgba(84, 159, 175, 1) 52%,
      rgba(12, 12, 62, 1) 100%);
}
<<<<<<< HEAD
aside div{
  display: flex;
  position:static;
}
aside h1{
=======

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*grid-template-rows: 0.1fr 1fr 1fr 1fr;*/
  grid-auto-columns: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar busqueda busqueda busqueda"
    "sidebar card1 card2 card3"
    "sidebar card4 card5 card6";
  color: #ffffff;
>>>>>>> Feature
  text-align: center;
  padding-top: 60px;
  padding-bottom: 5px;
}
<<<<<<< HEAD
aside select {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
aside p {
  padding-top: 30px;
}
.busquedaSelectiva {
=======

.sidebar {
  grid-area: sidebar;
  padding-top: 50px;
}

.btn-group>.btn:first-child {
  background-color: azure;
}

.selectpicker option {
  border: none;
  background-color: white;
  outline: none;
  color: #14b1b2;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  padding-left: 0;
  margin-top: -20px;
  background: none;
}

.selectpicker {
  border: "";
  background-color: rgba(255, 177, 177, 0.786);
  outline: "";
  text-align: center;
  color: #f8fafa;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  padding-left: 0;
  margin-top: -20px;
  background: none;
}

.sidebar p {
  padding: 20px;
}

.sidebar>.calendario {
  color: #101010;
}

.busqueda {
  grid-area: busqueda;
  width: 100%;
  height: 55px;
}

.busqueda i {
  position: relative;
  left: 43%;
  height: 50px;
  top: 34px;
  color: rgb(255, 255, 255);
}

.busqueda input {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 40px;
  text-decoration: none;
  background: #ff8400;
  border-radius: 50px;
  text-align: center;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.card6 {
  grid-area: card6;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  background-color: rgba(30, 35, 67, 0.5);
  border-radius: 50px;
}

.foto_lugar {
  box-shadow: var(--box-shadow);
  width: 100%;
  height: 10em;
  object-fit: cover;
  border-radius: 30px;
  cursor: pointer;
}

.ciudad {
  font-weight: 600;
  font-size: 1.2rem;
>>>>>>> Feature
  margin-top: 5px;
  background-image:url(../../../../../src/img/vueloContacto.jpg);
  background-size: x= 200, y= 100;
  width: 500px;
  max-height: 600px;
}
<<<<<<< HEAD
.pasajes p {
  margin-left: 150px;
}
.busquedaSelectiva > .calendario {
  color: #165377;
  margin-left: 150px;
  margin-bottom: 20px
}

/* Tarjetas */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.tarjetas h1 {
  color: silver;
  size: 60px;
}
.tarjetas {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  position: right;
}

.tarjetas{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: 250px;
  width: 350px;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
=======

.precio {
  text-align: center;
  background-color: rgb(255, 118, 13);
  color: #fff;
  justify-content: space-around;
  border-radius: 200px;
>>>>>>> Feature
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

<<<<<<< HEAD
.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #000099 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
=======
.reveal {
  position: relative;
  transform: translateX(50px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateX(0);
  opacity: 1;
}

@media screen and (max-width: 1100px) {
  .section {
    padding: 25px 50px;
  }

  .media-icons {
    right: 0;
    margin-right: 50px;
  }

  .swiper-slide .text-content {
    margin: 0 120px 0 50px;
  }

  .bg-slider-thumbs {
    bottom: 3em;
  }
}

@media screen and (max-width: 786px) {
  .section {
    padding: 25px 20px;
  }

  .media-icons {
    margin-right: 20px;
  }

  .media-icons a {
    font-size: 1.5em;
  }

  .swiper-slide .text-content {
    margin: 0 70px 0 20px;
  }

  .swiper-slide .text-content .titulo {
    font-size: 3em;
  }

  .swiper-slide .text-content .titulo span {
    font-size: 0.35em;
  }

  .swiper-slide .text-content p {
    font-size: 0.9em;
  }
}


@media only screen and (max-width: 715px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 0.4fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr;
    grid-template-areas:
      "busqueda"
      "sidebar"
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6";
  }
>>>>>>> Feature
}