<footer>
    <div class="container-footer-all">
        <div class="container-body">
            <div class="column1">
                <h1>CBA FLY <i class="uil uil-plane-departure"></i></h1>
            </div>

            <div class="column2">
                <h1>Medios de Pago</h1>
                <div class="tarjetas1">
                    <img src="https://assets-us-01.kc-usercontent.com:443/b2956330-c34f-0064-2c6f-27bd5c0147fc/3b33db5e-30fe-4b4d-b1d7-b22bbe49c748/cabal.png"
                        alt="Cabal" class="img-fluid webpay-redcompra d-inline-block p-2" />
                    <img src="https://assets-us-01.kc-usercontent.com:443/b2956330-c34f-0064-2c6f-27bd5c0147fc/c68b2132-552b-4832-afd5-6cec38d7026c/Naranja-49x30.png"
                        alt="Naranja" class="img-fluid webpay-redcompra d-inline-block p-2" />
                    <img src="https://assets-us-01.kc-usercontent.com:443/b2956330-c34f-0064-2c6f-27bd5c0147fc/5ebaa267-d492-43aa-8f3b-94912eb8e917/visa.svg"
                        alt="Visa" class="img-fluid webpay-redcompra d-inline-block p-2" />
                    <img src="https://assets-us-01.kc-usercontent.com:443/b2956330-c34f-0064-2c6f-27bd5c0147fc/7dda8f22-4b28-4bfd-813e-c8e92de01b11/mc_symbol_opt_45_1x.png"
                        alt="Mastercard" class="img-fluid webpay-redcompra d-inline-block p-2" />
                </div>
            </div>

            <div class="column3">
                <h1>Seguinos en</h1>
                <div class="redes">
                    <ul class="icono navbar-nav">
                        <li>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <label>Facebook</label>
                        </li>
                        <li>
                            <a href="#"><i class="bi bi-wordpress redes"></i></a>
                            <label>WordPress</label>
                        </li>

                        <li>
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <label>Twitter</label>
                        </li>

                        <li>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <label>Instagram</label>
                        </li>

                        <li>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                            <label>LinkedIn</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-footer">
        <div class="footer1">
            <div class="copyright">
                <p>&#9400; 2023 CBA-FLY. Todos los Derechos Reservados.</p>
            </div>

            <div>
                <a routerLink="/app" class="linkApp">¡Nuestra app!</a>
            </div>

            <div class="information">
                <a href="#">Políticas y Privacidad</a> |
                <a href="#">Términos y Condiciones</a>
            </div>
        </div>
    </div>
</footer>