footer {
    background-color: #202020;
    color: white;
    margin-top: auto;
  }
  
  /*Contenedor general*/
  .container-footer-all {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 40px;
  }
  
  /*contendor de las columnas*/
  .container-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  
  /*Contendor de nombre de la empresa*/
  .column1 {
    max-width: 500px;
  }
  
  /*H1 del contendor nombre de la empresa*/
  .column1 h1 {
    font-size: 22px;
  }
  
  /*Ícono de avión*/
  .column1 .uil {
    padding-left: 3px;
  }
  
  /*Conteneddor de Medios de Pago*/
  .column2 {
    max-width: 500px;
  }
  
  /*H1 de medios de pago*/
  .column2 h1 {
    font-size: 22px;
    text-align: center;
  }
  
  /*Imagenes de medios de pago*/
  .column2 .tarjetas1 img {
    width: 65px;
    height: 46px;
  }
  
  /*Contenedor de redes sociales */
  .column3 {
    max-width: 500px;
  }
  
  .icono li {
    list-style-type: none;
  }
  
  /* H1 de Redes Sociales*/
  .column3 h1 {
    font-size: 22px;
    text-align: center;
  }
  
  /*Íconos de Redes Sociales*/
  i {
    color: rgb(238, 232, 227);
    align-items: center;
    padding-left: 26px;
  }
  
  .icono i:hover {
    color: #14b1b2;
  }
  
  /*Nombres de redes sociales*/
  .redes .icono label {
    margin-left: 5px;
    color: #c7c7c7;
    font-weight: 400 !important;
  }
  
  /*Contenedor de footer, copyright e información*/
  .container-footer {
    max-width: 100%;
    background-color: #101010;
  }
  
  /*Contenedor de Copy y Privacidad*/
  .footer1 {
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
  }
  
  /*Copyright*/
  .copyright {
    color: #b1a8a8de;
  }

  .linkApp {
    font-size: 22px;
    text-align: center;
  }
  
  /*Política y Privacidad*/
  .information a {
    text-decoration: none;
    color: white;
  }
  
  .information a:hover {
    color: #14b1b2;
  }
  
  /**Responsive Footer**/
  @media screen and (max-width: 640px) {
    .container-body {
      flex-wrap: wrap;
    }
  
    .column2,
    .column3 {
      margin-top: 40px;
    }
  
    .column2 h1 {
      font-size: 22px;
      text-align: left;
    }
  
    .column1 {
      width: 100%;
    }
  }