/*======= CSS variables =======*/
:root {
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: #202834;
    --navigation-item-hover-color: #3b5378;
  
    --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  
    --scroll-bar-color: #fff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
  }
  
  /*======= Scroll bar =======*/
  ::-webkit-scrollbar {
    width: 11px;
    background: var(--scroll-bar-color);
  }
  
  ::-webkit-scrollbar-thumb {
    width: 100%;
    background: var(--scroll-thumb-color);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-color);
  }
  
  /*======= Main CSS =======*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }