<app-header></app-header>
<main class="">
    <div class="acercade">
        <img class="avion" src="../../../../img/avionNosotros.png" alt="Imagen de un avión ascendiendo al cielo" />
        <p class="lema">
            El equipo de trabajo es diverso tanto en género, edades y experiencia.
            Para muchos de nosotros, este es nuestro primer contacto con un
            proyecto de este tipo. Aunque nuestro anhelo es que el resultado final
            sea bueno, nuestro foco principal está puesto en el proceso de
            aprendizaje, en el desarrollo de competencias técnicas, y
            fundamentalmente de habilidades blandas como la empatía y el
            compromiso de equipo.
        </p>
    </div>
    <div class="tarjetas">
        <div class="tarjeta_integrante">
            <h5 class="nombre">Elias Giannantonio</h5>
            <img class="foto_perfil" src="../../../../img/eliasG.png" alt="Foto de Elias Giannantonio">
            <h5 class="rol">Desarrollador Web Full Stack</h5>
            <a href="https://www.linkedin.com/in/elias-giannantonio/" target="_blank"><img class="linkedin"
                    src="../../../../img/linkedin.png" alt="Logo de LinkedIn" /></a>
        </div>
        <div class="tarjeta_integrante">
            <h5 class="nombre">Romina Rodriguez Moreau</h5>
            <img class="foto_perfil" src="../../../../img/romiR.png" alt="Foto de Romina Rodriguez Moreau" />
            <h5 class="rol">Desarrollador Web Full Stack</h5>
            <a href="#" target="_blank"><img class="linkedin" src="../../../../img/linkedin.png" alt="Logo de LinkedIn" /></a>
        </div>
        <div class="tarjeta_integrante">
            <h5 class="nombre">Candela Iara Neil</h5>
            <img class="foto_perfil" src="../../../../img/candelaN.png" alt="Foto de Candela Iara Neil" />
            <h5 class="rol">Desarrollador Web Full Stack</h5>
            <a href="https://www.linkedin.com/in/candela-i-neil/" target="_blank"><img class="linkedin" src="../../../../img/linkedin.png" alt="Logo de LinkedIn" /></a>
        </div>
        <div class="tarjeta_integrante">
            <h5 class="nombre">Walter Facundo Salvatierra</h5>
            <img class="foto_perfil" src="../../../../img/facuS.png" alt="Foto de Walter Facundo Salvatierra" />
            <h5 class="rol">Desarrollador Web Full Stack</h5>
            <a href="https://www.linkedin.com/in/facundo-salvatierra/" target="_blank"><img class="linkedin"
                    src="../../../../img/linkedin.png" alt="Logo de LinkedIn" /></a>
        </div>
        <div class="tarjeta_integrante">
            <h5 class="nombre">Lucas Nicolás Balduzzi</h5>
            <img class="foto_perfil" src="../../../../img/lucasBz.png" alt="Foto de Lucas Nicolás Balduzzi" />
            <h5 class="rol">Desarrollador Web Full Stack</h5>
            <a href="https://www.linkedin.com/in/lucas-balduzzi/" target="_blank"><img class="linkedin" src="../../../../img/linkedin.png" alt="Logo de LinkedIn" /></a>
        </div>
        <div class="tarjeta_integrante">
            <h5 class="nombre">Amadeo Giannantonio</h5>
            <img class="foto_perfil" src="../../../../img/amadeoG.png" alt="Foto de Amadeo Giannantonio" />
            <h5 class="rol">Desarrollador Web Full Stack</h5>
            <a href="#" target="_blank"><img class="linkedin" src="../../../../img/linkedin.png" alt="Logo de LinkedIn" /></a>
        </div>

        <div class="tarjeta_integrante">
            <h5 class="nombre">Maximiliano Colman</h5>
            <img class="foto_perfil" src="../../../../img/maximilianoC.png" alt="Foto de Maximiliano Colman" />
            <h5 class="rol">Desarrollador Web Full Stack</h5>
            <a href="https://www.linkedin.com/in/maximiliano-colman/" target="_blank"><img class="linkedin" src="../../../../img/linkedin.png"
                    alt="Logo de LinkedIn" /></a>
        </div>
        <div class="tarjeta_integrante">
            <h5 class="nombre">Lucas Romero</h5>
            <img class="foto_perfil" src="../../../../img/lucasDR.png" alt="Foto de Lucas Romero" />
            <h5 class="rol">Desarrollador Web Full Stack</h5>
            <a href="https://www.linkedin.com/in/lucas-emanuel-r-5b3586200/" target="_blank"><img class="linkedin"
                    src="../../../../img/linkedin.png" alt="Logo de LinkedIn" /></a>
        </div>
    </div>
</main>
<app-footer></app-footer>