/*======= CSS variables =======*/
:root {
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --navigation-item-hover-color: #3b5378;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}

/*======= Scroll bar =======*/
::-webkit-scrollbar {
  width: 11px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}

/*======= Main CSS =======*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
[data-theme="dark"] {
  background-color: #111 !important;
  color: rgb(253, 122, 0);
}

/*======= Inicio =======*/
.acercade {
  min-height: 100vh;
}

.home:before {
  z-index: 888;
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--section-bg-color));
}

.acercade {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(96, 136, 231);
  background: linear-gradient(
    142deg,
    rgba(96, 136, 231, 1) 0%,
    rgba(6, 24, 59, 1) 66%
  );
  flex-wrap: wrap;
}

.acercade .lema {
  max-width: 500px;
  font-size: 1.2rem;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 10px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  text-align: center;
}

.acercade .avion {
  max-width: 500px;
  filter: brightness(0.9);
  filter: blur(0.6px);
}

.fondo_nosotros h1 {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 1.7rem;
}

.tarjetas {
  background: rgb(6, 24, 59);
  background: linear-gradient(
    225deg,
    rgba(6, 24, 59, 1) 0%,
    rgba(43, 70, 129, 1) 100%
  );
  color: white;
  text-align: center;
  display: grid;
  gap: 17px;
  column-gap: 21px;
  grid-auto-rows: 17rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  align-content: space-around;
  justify-content: space-between;
  padding-bottom: 20px;
}

.tarjeta_integrante:hover {
  transition: 2s ease;
}

.tarjeta_integrante {
  display: grid;
  border-radius: 31px;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  background: linear-gradient(
    90deg,
    rgba(33, 22, 212, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(237, 241, 255, 1) 100%
  );
  color: black;
  padding-top: 20px;
  align-items: center;
  justify-items: center;
}

.tarjeta_integrante .foto_perfil {
  width: 60%;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

.linkedin {
  width: 10%;
}

.tarjeta_integrante a {
  display: flex;
  justify-content: center;
}

.rol {
  font-weight: 400;
}

.tarjeta_integrante .nombre {
  max-height: 35px;
  max-width: 300px;
}

.tarjeta_integrante img {
  position: relative;
}

/*======= Media queries (max-width: 1100px) =======*/
@media screen and (max-width: 1100px) {
  header .nav-bar {
    padding: 0 50px;
  }

  .section {
    padding: 25px 50px;
  }

  .media-icons {
    right: 0;
    margin-right: 50px;
  }

  .swiper-slide .text-content {
    margin: 0 120px 0 50px;
  }

  .bg-slider-thumbs {
    bottom: 3em;
  }

  .avion {
    width: 300px;
  }
}

/*======= Media queries (max-width: 785px) =======*/
@media screen and (max-width: 785px) {
  header .nav-bar {
    padding: 25px 20px;
  }

  .section {
    padding: 25px 20px;
  }

  .media-icons {
    margin-right: 20px;
  }

  .media-icons a {
    font-size: 1.5em;
  }

  .swiper-slide .text-content {
    margin: 0 70px 0 20px;
  }

  .swiper-slide .text-content .title {
    font-size: 3em;
  }

  .swiper-slide .text-content .title span {
    font-size: 0.35em;
  }

  .swiper-slide .text-content p {
    font-size: 0.9em;
  }

  .avion {
    position: relative;
    top: 40px;
  }

  /*======= Navigation menu =======*/
  .nav-menu-btn {
    display: block;
    color: var(--white-color);
    font-size: 1.5em;
    cursor: pointer;
  }

  .nav-close-btn {
    display: block;
    color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .navegacion {
    z-index: 9999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
  }

  .navegacion.active {
    visibility: visible;
    opacity: 1;
  }

  .navegacion .nav-items {
    position: relative;
    background: var(--white-color);
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }

  .navegacion.active .nav-items {
    transform: translateY(0);
  }

  .navegacion .nav-items a {
    color: var(--dark-color);
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease;
  }

  .navegacion .nav-items a:hover {
    color: var(--navigation-item-hover-color);
  }

  .navegacion .nav-items > a > i {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }

  .swiper-slide .text-content .read-btn {
    font-size: 0.9em;
    padding: 5px 15px;
  }

  .about h2 {
    font-size: 2.5em;
  }

  .about p {
    font-size: 0.9em;
  }

  .tarjetas {
    background: rgb(6, 24, 59);
    background: linear-gradient(
      225deg,
      rgba(6, 24, 59, 1) 0%,
      rgba(43, 70, 129, 1) 100%
    );
    color: white;
    text-align: center;
    display: grid;
    gap: 17px;
    column-gap: 21px;
    grid-auto-rows: 14rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    align-content: space-around;
    justify-content: space-between;
  }
}