/*============ Google fonts ============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*======= CSS variables =======*/
:root {
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --navigation-item-hover-color: #3b5378;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}

/*======= Scroll bar =======*/
::-webkit-scrollbar {
  width: 11px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}

/*======= CSS Principal =======*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/vuelo_contacto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

section {
  position: relative;
}

.section {
  color: var(--white-color);
  background: var(--section-bg-color);
  padding: 35px 200px;
  transition: 0.3s ease;
}

/*======= Header =======*/
header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: calc(5rem + 1rem);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  transition-property: height, background;
  box-sizing: border-box;
  margin-right: 0px;
  margin-left: 0px;
}

header.sticky {
  height: calc(2.5rem + 1rem);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .barra_navegacion {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  transition: 0.3s ease;
}

.nav-close-btn,
.nav-menu-btn {
  display: none;
}

.barra_navegacion .logo {
  color: var(--white-color);
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.navegacion .nav-items a {
  color: var(--white-color);
  font-size: 1em;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.navegacion .nav-items a i {
  display: none;
}

.navegacion .nav-items a:not(:last-child) {
  margin-right: 45px;
}

.navegacion .nav-items a:nth-child(3) {
  background-color: #ffffff;
  padding: 3px 10px 3px 10px;
  border-radius: 50px;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #000;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a,
a:hover {
  text-decoration: none !important;
}

.text-black {
  color: #000;
}

.content {
  padding-top: 7rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

.form-control {
  border: 1px solid #d9d9d9;
  border-radius: 7px;
}

.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.col-form-label {
  color: #000;
}

.btn,
.form-control {
  height: 55px;
}

.heading {
  color: #888;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: 400;
}

.btn {
  color: #fff;
  border: none;
  border-radius: 4px !important;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
}

.btn:hover {
  color: #fff;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box {
  padding: 25px 70px;
  background: rgba(255, 255, 255, 0.905);
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.box h3 {
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
}

label.error {
  font-size: 12px;
  color: red;
}

#message {
  resize: vertical;
}

#form-message-warning,
#form-message-success {
  display: none;
}

#form-message-warning {
  color: #b90b0b;
}

#form-message-success {
  color: #55a44e;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.submitting {
  text-align: center;
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

.form-switch .form-check-input {
  position: relative;
  left: 126px;
  bottom: -10px;
}

[data-theme="dark"] {
  background-color: #111 !important;
  color: rgb(253, 122, 0);
}

label {
  display: inline-block;
}

/*FOOTER*/

footer {
  background-color: #202020;
  color: white;
  margin-top: 200px;
}

/*Contenedor general*/
.container-footer-all {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 40px;
}

.container-body h1 {
  color: white;
}

/*contendor de las columnas*/
.container-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

/*Contendor de nombre de la empresa*/
.column1 {
  max-width: 500px;
}

/*H1 del contendor nombre de la empresa*/
.column1 h1 {
  font-size: 22px;
}

/*Ícono de avión*/
.column1 .uil {
  padding-left: 3px;
}

/*Conteneddor de Medios de Pago*/
.column2 {
  max-width: 500px;
}

/*H1 de medios de pago*/
.column2 h1 {
  font-size: 22px;
  text-align: center;
}

/*Imagenes de medios de pago*/
.column2 .tarjetas img {
  width: 65px;
  height: 46px;
}

/*Contenedor de redes sociales */
.column3 {
  max-width: 500px;
}

.icono li {
  list-style-type: none;
}

/* H1 de Redes Sociales*/
.column3 h1 {
  font-size: 22px;
  text-align: center;
}

/*Íconos de Redes Sociales*/
i {
  color: rgb(238, 232, 227);
  align-items: center;
  padding-left: 26px;
}

.icono i:hover {
  color: #14b1b2;
}

/*Nombres de redes sociales*/
.redes .icono label {
  margin-left: 5px;
  color: #c7c7c7;
}

/*Contenedor de footer, copyright e información*/
.container-footer {
  max-width: 100%;
  background-color: #101010;
}

/*Contenedor de Copy y Privacidad*/
.footer1 {
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}

/*Copyright*/
.copyright {
  color: #b1a8a8de;
}

/*Política y Privacidad*/
.information a {
  text-decoration: none;
  color: white;
}

.information a:hover {
  color: #14b1b2;
}

/**Responsive Footer**/
@media screen and (max-width: 640px) {
  .container-body {
    flex-wrap: wrap;
  }
  .column2,
  .column3 {
    margin-top: 40px;
  }

  .column2 h1 {
    font-size: 22px;
    text-align: left;
  }
  .column1 {
    width: 100%;
  }
}

/*======= Media queries (max-width: 1100px) =======*/
@media screen and (max-width: 1100px) {
  header .barra_navegacion {
    padding: 0 50px;
  }

  .section {
    padding: 25px 50px;
  }

  .media-icons {
    right: 0;
    margin-right: 50px;
  }

  .swiper-slide .text-content {
    margin: 0 120px 0 50px;
  }

  .bg-slider-thumbs {
    bottom: 3em;
  }
}

/*======= Media queries (max-width: 785px) =======*/
@media screen and (max-width: 785px) {
  header .barra_navegacion {
    padding: 25px 20px;
  }

  .section {
    padding: 25px 20px;
  }

  .media-icons {
    margin-right: 20px;
  }

  .media-icons a {
    font-size: 1.5em;
  }

  .swiper-slide .text-content {
    margin: 0 70px 0 20px;
  }

  .swiper-slide .text-content .titulo {
    font-size: 3em;
  }

  .swiper-slide .text-content .titulo span {
    font-size: 0.35em;
  }

  .swiper-slide .text-content p {
    font-size: 0.9em;
  }

  /*======= Menu de navegación =======*/
  .nav-menu-btn {
    display: block;
    color: var(--white-color);
    font-size: 1.5em;
    cursor: pointer;
  }

  .nav-close-btn {
    display: block;
    color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .navegacion {
    z-index: 9999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
  }

  .navegacion.active {
    visibility: visible;
    opacity: 1;
  }

  .navegacion .nav-items {
    position: relative;
    background: var(--white-color);
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }

  .navegacion.active .nav-items {
    transform: translateY(0);
  }

  .navegacion .nav-items a {
    color: var(--dark-color);
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease;
  }

  .navegacion .nav-items a:hover {
    color: var(--navigation-item-hover-color);
  }

  .navegacion .nav-items > a > i {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }

  .swiper-slide .text-content .read-btn {
    font-size: 0.9em;
    padding: 5px 15px;
  }

  /*======= About section =======*/
  .about h2 {
    font-size: 2.5em;
  }

  .about p {
    font-size: 0.9em;
  }
}
