/*============ Google fonts ============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*======= CSS variables =======*/
:root {
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --navigation-item-hover-color: #3b5378;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}

/*======= Scroll bar =======*/
::-webkit-scrollbar {
  width: 11px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}

/*======= Main CSS =======*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  margin-bottom: 0.5rem !important;
}

body {
  background: var(--body-bg-color);
}

section {
  position: relative;
}

.section {
  color: var(--white-color);
  background: var(--section-bg-color);
  padding: 35px 200px;
  transition: 0.3s ease;
}

/*======= Header =======*/
header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: calc(5rem + 1rem);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  transition-property: height, background;
}

header.sticky {
  height: calc(2.5rem + 1rem);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .barra_navegacion {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  transition: 0.3s ease;
}

.nav-close-btn,
.nav-menu-btn {
  display: none;
}

.barra_navegacion .logo {
  color: var(--white-color);
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.navegacion .nav-items a {
  color: var(--white-color);
  font-size: 1em;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.navegacion .nav-items a i {
  display: none;
}

.navegacion .nav-items a:not(:last-child) {
  margin-right: 45px;
}

.navegacion .nav-items a:nth-child(2) {
  background-color: #ffffff;
  padding: 3px 10px 3px 10px;
  border-radius: 50px;
  color: black;
}

/*MODO OSCURO*/
.switchDark {
  border: none;
  color: #010507;
  background-color: #010507;
  position: relative;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  align-items: center;
}
.dark-link {
  color: #010507;
}

.switchDark span i {
  align-items: center;
  padding-left: 1px;
  padding-bottom: 2px;
}
.fa-sun {
  margin-left: 1px;
}
.fa-moon {
  padding-right: 3px;
}

.switchDark span {
  width: 25px;
  height: 25px;
  color: #fff;
  line-height: 25px;
  background: none;
}

.switchDark::after {
  margin-top: 2px;
  background: #fffbf5;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  right: unset;
  border-radius: 100%;
  transition: all 0.9s ease;
  box-shadow: 0 0 1.5px 1.5px rgba(0, 0, 0, 0.1);
  content: "";
}
.nav-items a {
  color: #010507;
}
.switchDark.active {
  background: orange;
}

.switchDark.active::after {
  left: unset;
  right: 1px;
  border-radius: 100%;
  position: absolute;
  content: "";
}
.dark .nav-items a {
  color: #010507;
}

.dark .swiper-wrapper {
  background: #0d2227;
}

.dark .home {
  background: rgb(1, 17, 17);
}

.dark input {
  background: rgb(1, 17, 17);
}
.dark main {
  background: rgb(1, 17, 17);
  color: #fff;
}

.dark footer {
  background: rgb(0, 3, 10);
}

.dark .contenedor {
  background: rgb(1, 17, 17);
}

.dark .card1 {
  background: #0d2227;
}

.dark .card2 {
  background: #0d2227;
}

.dark .card3 {
  background: #0d2227;
}
.dark .card4 {
  background: #0d2227;
}
.dark .card5 {
  background: #0d2227;
}
.dark .card6 {
  background: #0d2227;
}
.dark-navbar {
  color: #010507;
}
/*======= Inicio  =======*/
.home {
  min-height: 80vh ;  /*ajustado para achicar img slider (100vh)*/
}

.home:before {
  z-index: 888;
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--section-bg-color));
}

/*======= Slider / Carrusel =======*/
.bg-slider {
  z-index: 777;
  position: relative;
  width: 100%;
  min-height: 80vh; /*ajustado para achicar img slider (100vh)*/
}

.bg-slider .swiper-slide {
  position: relative;
  width: 100%;
  height: 80vh; /*ajustado para achicar img slider (100vh)*/
}

.bg-slider .swiper-slide img {
  width: 100%;
  height: 80vh; /*ajustado para achicar img slider (100vh)*/
  object-fit: cover;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}

.swiper-slide .text-content {
  position: absolute;
  top: 18%; /*ajustado para achicar img slider (25%)*/
  color: var(--white-color);
  margin: 0 200px;
  transition: 0.3s ease;
}

.swiper-slide .text-content .titulo {
  font-size: 4em;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0;
}

.swiper-slide-active .text-content .titulo {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
  text-shadow: 0px 0px 10px #0000007e;
}

.swiper-slide .text-content .titulo span {
  font-size: 0.3em;
  font-weight: 300;
}

.swiper-slide .text-content p {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 10px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  transform: translateX(-80px);
  opacity: 0;
  text-align: center;
}

.swiper-slide-active .text-content p {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn {
  border: none;
  outline: none;
  background: rgba(251, 254, 255, 0.656);
  color: var(--dark-color);
  font-size: 1em;
  font-weight: 500;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(50px);
  opacity: 0;
}

.swiper-slide-active .text-content .read-btn {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn i {
  font-size: 1.6em;
  transition: 0.3s ease;
}

.swiper-slide .text-content .read-btn:hover i {
  transform: translateX(3px);
}

.dark-layer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.bg-slider-thumbs {
  z-index: 777;
  position: absolute;
  bottom: 3em; /*ajustado para achicar img slider (7em)*/
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
}

.thumbs-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 3px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}

.thumbs-container img {
  width: 50px;
  height: 35px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.swiper-slide-thumb-active {
  border: 1px solid var(--white-color);
}

/*======= Iconos =======*/
.media-icons {
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 90px;
}

.media-icons a {
  color: var(--white-color);
  font-size: 1.7em;
  margin: 10px 0;
}

/*======= Seccion fecha de salida =======*/
.about h2 {
  font-size: 3em;
  font-weight: 600;
}

.about p {
  margin: 25px 0;
}

main {
  background: rgb(250, 255, 198);
  background: linear-gradient(
    0deg,
    rgba(250, 255, 198, 1) 0%,
    rgba(84, 159, 175, 1) 52%,
    rgba(12, 12, 62, 1) 100%
  );
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*grid-template-rows: 0.1fr 1fr 1fr 1fr;*/
  grid-auto-columns: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar busqueda busqueda busqueda"
    "sidebar card1 card2 card3"
    "sidebar card4 card5 card6";
  color: #ffffff;
  text-align: center;
  column-gap: 43px;
  row-gap: 30px;
  padding-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.sidebar {
  grid-area: sidebar;
  padding-top: 50px;
}

.btn-group > .btn:first-child {
  background-color: azure;
}

.selectpicker option {
  border: none;
  background-color: white;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #14b1b2;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  padding-left: 0;
  margin-top: -20px;
  background: none;
}

.selectpicker {
  border: none;
  background-color: rgba(255, 177, 177, 0.786);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #14b1b2;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  padding-left: 0;
  margin-top: -20px;
  background: none;
}

.sidebar p {
  padding: 20px;
}

.sidebar > .calendario {
  color: #101010;
}

.busqueda {
  grid-area: busqueda;
  width: 100%;
  height: 55px;
}

.busqueda i {
  position: relative;
  left: 43%;
  height: 50px;
  top: 34px;
  color: rgb(255, 255, 255);
}

.busqueda input {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 40px;
  text-decoration: none;
  background: #ff8400;
  border-radius: 50px;
  text-align: center;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.card6 {
  grid-area: card6;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  background-color: rgba(30, 35, 67, 0.5);
  border-radius: 50px;
}

.foto_lugar {
  box-shadow: var(--box-shadow);
  width: 100%;
  height: 10em;
  object-fit: cover;
  border-radius: 30px;
  cursor: pointer;
}

.ciudad {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 5px;
}

.precio {
  text-align: center;
  background-color: rgb(255, 118, 13);
  color: #fff;
  justify-content: space-around;
  border-radius: 200px;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  top: 9px;
}

.reveal {
  position: relative;
  transform: translateX(50px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateX(0);
  opacity: 1;
}

/*FOOTER*/

footer {
  background-color: #202020;
  color: white;
}

/*Contenedor general*/
.container-footer-all {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 40px;
}

/*contendor de las columnas*/
.container-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Contendor de nombre de la empresa*/
.column1 {
  max-width: 500px;
}

/*H1 del contendor nombre de la empresa*/
.column1 h1 {
  font-size: 22px;
}

/*Ícono de avión*/
.column1 .uil {
  padding-left: 3px;
}

/*Conteneddor de Medios de Pago*/
.column2 {
  max-width: 500px;
}

/*H1 de medios de pago*/
.column2 h1 {
  font-size: 22px;
  text-align: center;
}

/*Imagenes de medios de pago*/
.column2 .tarjetas img {
  width: 65px;
  height: 46px;
}

/*Contenedor de redes sociales */
.column3 {
  max-width: 500px;
}

.icono li {
  list-style-type: none;
}

/* H1 de Redes Sociales*/
.column3 h1 {
  font-size: 22px;
  text-align: center;
}

/*Íconos de Redes Sociales*/
.redes {
  color: rgb(238, 232, 227);
  align-items: center;
  padding-left: 26px;
}

.icono i:hover {
  color: #14b1b2;
}

/*Nombres de redes sociales*/
.redes .icono label {
  margin-left: 5px;
  color: #c7c7c7;
  font-weight: 400 !important;
}

/*Contenedor de footer, copyright e información*/
.container-footer {
  max-width: 100%;
  background-color: #101010;
}

/*Contenedor de Copy y Privacidad*/
.footer1 {
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}

/*Copyright*/
.copyright {
  color: #b1a8a8de;
}

/*Política y Privacidad*/
.information a {
  text-decoration: none;
  color: white;
}

.information a:hover {
  color: #14b1b2;
}

/**Responsive Footer**/
@media screen and (max-width: 640px) {
  .container-body {
    flex-wrap: wrap;
  }
  .column2,
  .column3 {
    margin-top: 40px;
  }

  .column2 h1 {
    font-size: 22px;
    text-align: left;
  }
  .column1 {
    width: 100%;
  }
}

/**Responsive Footer**/
@media screen and (max-width: 640px) {
  .container-body {
    flex-wrap: wrap;
  }
  .column2,
  .column3 {
    margin-top: 40px;
  }

  .column2 h1 {
    font-size: 22px;
    text-align: left;
  }
  .column1 {
    width: 100%;
  }
  .switchDark {
    width: 40px;
    display: flex;
    float: right;
    justify-content: space-between;
    margin-left: 115px;
  }
  .switchDark::after {
    margin-top: 1px;
  }
}

@media screen and (max-width: 786px) {
  .switchDark {
    width: 40px;
    display: flex;
    float: right;
    justify-content: space-between;
    margin-left: 115px;
  }

  /*======= Media queries (max-width: 1100px) =======*/
  @media screen and (max-width: 1100px) {
    header .barra_navegacion {
      padding: 0 50px;
    }

    .section {
      padding: 25px 50px;
    }

    .media-icons {
      right: 0;
      margin-right: 50px;
    }

    .swiper-slide .text-content {
      margin: 0 120px 0 50px;
    }

    .bg-slider-thumbs {
      bottom: 3em;
    }
  }

  /*======= Media queries (max-width: 785px) =======*/
  @media screen and (max-width: 785px) {
    header .barra_navegacion {
      padding: 25px 20px;
    }

    .section {
      padding: 25px 20px;
    }

    .media-icons {
      margin-right: 20px;
    }

    .media-icons a {
      font-size: 1.5em;
    }

    .swiper-slide .text-content {
      margin: 0 70px 0 20px;
    }

    .swiper-slide .text-content .titulo {
      font-size: 3em;
    }

    .swiper-slide .text-content .titulo span {
      font-size: 0.35em;
    }

    .swiper-slide .text-content p {
      font-size: 0.9em;
    }

    /*======= Menu de navegación =======*/
    .nav-menu-btn {
      display: block;
      color: var(--white-color);
      font-size: 1.5em;
      cursor: pointer;
    }

    .nav-close-btn {
      display: block;
      color: var(--dark-color);
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.3em;
      margin: 10px;
      cursor: pointer;
      transition: 0.3s ease;
    }

    .navegacion {
      z-index: 9999999;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s ease;
    }

    .navegacion.active {
      visibility: visible;
      opacity: 1;
    }

    .navegacion .nav-items {
      position: relative;
      background: var(--white-color);
      width: 400px;
      max-width: 400px;
      display: grid;
      place-content: center;
      margin: 20px;
      padding: 40px;
      border-radius: 20px;
      box-shadow: var(--box-shadow);
      transform: translateY(-200px);
      transition: 0.3s ease;
    }

    .navegacion.active .nav-items {
      transform: translateY(0);
    }

    .navegacion .nav-items a {
      color: var(--dark-color);
      font-size: 1em;
      margin: 15px 50px;
      transition: 0.3s ease;
    }

    .navegacion .nav-items a:hover {
      color: var(--navigation-item-hover-color);
    }

    .navegacion .nav-items > a > i {
      display: inline-block;
      font-size: 1.3em;
      margin-right: 5px;
    }

    .swiper-slide .text-content .read-btn {
      font-size: 0.9em;
      padding: 5px 15px;
    }

    .container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr;
      grid-auto-columns: 1fr;
      gap: 30px 43px;
      grid-template-areas:
        "sidebar busqueda busqueda"
        "sidebar card1 card2"
        "sidebar card3 card4"
        "sidebar card5 card6"
        "footer footer footer";
    }
  }

  @media only screen and (max-width: 715px) {
    .contenedor {
      grid-template-columns: 1fr;
      grid-template-rows: 0.05fr 0.4fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr;
      grid-template-areas:
        "busqueda"
        "sidebar"
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6";
    }

    .sidebar {
      padding: 0px;
    }

    .sidebar input,
    .sidebar button {
      width: 80%;
    }

    .dropdown-menu {
      width: 90%;
      text-align: center !important;
    }

    .dropdown-menu {
      max-height: 180.54700000000003px !important;
    }
  }
}
