<app-header></app-header>

<body>
  <main>
    <div class="container">
      <div class="forms">
        <div class="form login">
          <span class="title">Iniciar Sesión</span>

          <form [formGroup]="form" #f="ngForm" (ngSubmit)="submit()">
            <div class="input-field">
              <input type="email" formControlName="correoElectronico" placeholder="xentoasfi@gmail.com"
                name="correoElectronico" aria-describedby="EmailHelp" required
                id="correoElectronico_login">
              <i class="uil uil-envelope icon"></i>
            </div>
            
            <div *ngIf="Email.errors && Email.touched" class="alert alert-danger">
              <p *ngIf="Email.hasError('required')">El Correo Electrónico es requerido.</p>
              <p *ngIf="Email.errors?.['minlength']">El Correo Electrónico debe ser de 3
                o más caracteres.</p>
              <p *ngIf="Email.errors?.['email']"> Ingrese un e-mail con formato válido.</p>
            </div>

            <div class="input-field">
                 <input type="password" formControlName="contrasena" id="contrasena" name="contrasena" placeholder="********" required
                  [type]="passwordVisible ? 'text' : 'password'">
              <i class="uil uil-lock icon"></i>
              <i class="uil showHidePw" [ngClass]="passwordVisible ? 'uil-eye' : 'uil-eye-slash'"
                (click)="togglePasswordVisibility()"></i>
            </div>

            <div *ngIf="Password.errors && Password.touched" class="alert alert-danger">
              <div *ngIf="Password.hasError('required')">La contraseña es requerida.</div>
              <div *ngIf="Password.errors?.['minlength']">La contraseña debe ser de 5 o más
                caracteres</div>
            </div>

            <div class="checkbox-text">
              <div class="checkbox-content">
                <input type="checkbox" id="logCheck">
                <label for="logCheck" class="text">Recordarme</label>
              </div>

              <a routerLink="/login" class="text">Olvidé mi contraseña</a>
            </div>

            <div class="input-field button">
              <input type="submit" value="Iniciar sesión">
            </div>
          </form>

          <div class="login-signup">
            <span class="text">¿No tenés cuenta?
              <a class="text signup-link" routerLink="/login/1">¡Registrate ahora!</a>
            </span>
          </div>
        </div>


      </div>
    </div>

  </main>
</body>

<app-footer></app-footer>