<app-header></app-header>

<body>
  <main [ngSwitch]="id">

    <!-- Registration Form -->

    <div div *ngSwitchCase="1" class="container2">
      <div class="forms2">
        <div class="form signup2">
          <span class="title2">Registro</span>

          <form [formGroup]="form" #f="ngForm" (ngSubmit)="submit()">

            <div class="input-field">
              <input type="text" formControlName="nombreCompleto" placeholder="Ingresá tu nombre y apellido"
                id="name_register" name="nombreCompleto" aria-describedby="NombreyApellidoHelp" required>
              <i class="uil uil-user"></i>
            </div>

            <div *ngIf="NombreCompleto.errors && NombreCompleto.touched" class="alert alert-danger">
              <p *ngIf="NombreCompleto.hasError('required')">Tu nombre completo es requerido.</p>
              <p *ngIf="NombreCompleto.errors?.['minlength']">Tu nombre completo debe ser de 2
                o más caracteres.</p>
              <p *ngIf="NombreCompleto.errors?.['maxlength']">Tu nombre completo debe tener menos de 80 caracteres.</p>
            </div>

            <div class="input-field">
              <input type="email" formControlName="correoElectronico" placeholder="Ingresá tu correo electrónico"
                required name="correoElectronico" aria-describedby="EmailHelp" id="correoElectronico_register">
              <i class="uil uil-envelope icon"></i>
            </div>

            <div *ngIf="Email.errors && Email.touched" class="alert alert-danger">
              <p *ngIf="Email.hasError('required')">El Correo Electrónico es requerido.</p>
              <p *ngIf="Email.errors?.['minlength']">El Correo Electrónico debe ser de 3
                o más caracteres.</p>
              <p *ngIf="Email.errors?.['email']"> Ingrese un e-mail con formato válido.</p>
            </div>


            <div class="input-field">
              <input type="password" formControlName="contrasena" id="contrasena" name="contrasena"
                placeholder="Crea una contraseña" required [type]="passwordVisible ? 'text' : 'password'">
              <i class="uil uil-lock icon"></i>
              <i class="uil showHidePw" [ngClass]="passwordVisible ? 'uil-eye' : 'uil-eye-slash'"
                (click)="togglePasswordVisibility()"></i>
            </div>

            <div *ngIf="Password.errors && Password.touched" class="alert alert-danger">
              <div *ngIf="Password.hasError('required')">La contraseña es requerida.</div>
              <div *ngIf="Password.errors?.['minlength']">La contraseña debe ser de 5 o más
                caracteres</div>
            </div>

            <div class="checkbox-text">
              <div class="checkbox-content">
                <input type="checkbox" id="term" required>
                <label for="termCon" class="text">Acepto los términos y condiciones</label>
              </div>
            </div>
            <div class="checkbox-text">
              <div class="checkbox-content">
                <input type="checkbox" id="termCon">
                <label for="termCon" class="text">Quiero recibir novedades y promociones especiales por correo
                  electrónico</label>
              </div>
            </div>

            <div class="input-field button">
              <input type="submit" value="Crear cuenta">
            </div>
          </form>

          <div class="login-signup">
            <span class="text">¿Ya tenés una cuenta?
              <a class="text login-link" routerLink="/login">¡Inicia sesión!</a>
            </span>
          </div>
        </div>
      </div>
    </div>

  </main>
</body>

<app-footer></app-footer>