<app-header></app-header>

<body>
  <main [ngSwitch]="id">

    <!-- Registration Form -->

    <div div *ngSwitchCase="1" class="container2">
      <div class="forms2">
        <div class="form signup2">
          <span class="title2">Registro</span>

          <form action="#">
            <div class="input-field">
              <input type="text" placeholder="Ingresá tu nombre y apellido" required minlength="3" maxlength="30"
                id="name_register">
              <i class="uil uil-user"></i>
            </div>
            <div class="input-field">
              <input type="email" placeholder="Ingresá tu correo electrónico" required id="email_register">
              <i class="uil uil-envelope icon"></i>
            </div>
            <div class="input-field">
              <input type="password" placeholder="Crea una contraseña" required minlength="5" maxlength="14"
                id="password_register">
              <i class="uil uil-lock icon"></i>
            </div>
            <div class="input-field">
              <input type="password" placeholder="Confirmar contraseña" required minlength="5" maxlength="14"
                id="password" [(ngModel)]="password" [type]="passwordVisible ? 'text' : 'password'">
              <i class="uil uil-lock icon"></i>
              <i class="uil showHidePw" [ngClass]="passwordVisible ? 'uil-eye' : 'uil-eye-slash'" (click)="togglePasswordVisibility()"></i>
            </div>

            <div class="checkbox-text">
              <div class="checkbox-content">
                <input type="checkbox" id="term" required>
                <label for="termCon" class="text">Acepto los términos y condiciones</label>
              </div>
            </div>
            <div class="checkbox-text">
              <div class="checkbox-content">
                <input type="checkbox" id="termCon">
                <label for="termCon" class="text">Quiero recibir novedades y promociones especiales por correo
                  electrónico</label>
              </div>
            </div>

            <div class="input-field button">
              <input type="button" value="Crear cuenta" (click)="validar_registro()">
            </div>
          </form>

          <div class="login-signup">
            <span class="text">¿Ya tenés una cuenta?
              <a class="text login-link" routerLink="/login">¡Inicia sesión!</a>
            </span>
          </div>
        </div>
      </div>
    </div>

  </main>
</body>

<app-footer></app-footer>