<app-header></app-header>

<body>
    <div class="boxTitle">
        <h1 class="appTitle">CBA-Fly App!</h1>
        <p class="appDescription">Nuestro objetivo: ¡que tengas una forma rápida y fácil de ver tus vuelos, donde sea
            que estés!</p>
    </div>

    <div class="boxImages">
        <img class="appView" src="https://iili.io/JdJSQbp.png" alt="Vista 1 al iniciar la aplicación">
        <img class="appView" src="https://iili.io/JdJUgTl.png" alt="Vista 2 al iniciar la aplicación">
        <img class="appView" src="https://iili.io/JdJSs5v.png" alt="Vista 3 al iniciar la aplicación">
    </div>

    <hr class="line">

    <div class="boxQr">
        <p class="textQr">¡Escaneá el código QR para ir al sitio de descarga de la app! También podés clickear la imagen
            para llegar al
            mismo enlace 😃</p>
        <a href="https://github.com/FacKuSalvatierra/CBA-FLY-APP" target="_blank"><img class="qrCode"
                src="https://iili.io/JJQWDWg.png"
                alt="QR que lleva al repositorio de GitHub para descargar la aplicación"></a>
    </div>

    <div class="boxList">
        <p class="titleList">Con nuestra app vas a poder:</p>
        <ul>
            <li class="items"><i class="fa-solid fa-plane-departure fa-bounce"></i> Consultar información de tus vuelos: fechas,
                horarios, destinos, precio, asientos elegidos y aeropuerto de origen y de destino.</li>
            <li class="items"><i class="fa-solid fa-plane-departure fa-bounce"></i> Registrarte como usuario.</li>
            <li class="items"><i class="fa-solid fa-plane-departure fa-bounce"></i>  Modificar tus datos personales.</li>
        </ul>
    </div>

    <div class="boxAndroid">
        <img class="androidLogo" src="https://iili.io/JdB7gMx.png" alt="Logo Android">
        <p class="androidText">Compatible con Android 5.0 y versiones posteriores. No contiene permisos intrusivos.</p>
    </div>
</body>
<app-footer></app-footer>