* {
  font-family: "Poppins", sans-serif;
}

section {
  padding-top: 100px;
  background-image: url(../../../../img/fondo3.jpg);
  background-size: cover;
}

.card {
  border: 1px solid #d9d9d9;
  border-radius: 40px;
}

.mb-0 {
  font-size: 13px;
}

.mb-00 {
  font-size: 11px;
}

.mb-01 {
  font-size: 20px;
}

.contienecomprar {
  display: flex;
  justify-content: center;
}

.botoncomprar {
  color: white;
  border: 2px solid white;
  padding: 15px 15px;
  font-size: 1.1rem;
  position: relative;
  margin: 3px;
  border-radius: 7px;
  width: 60%;
  background: linear-gradient(to right,  #29216e 50%, transparent 50%);
  background-size: 200%;
  background-position: right;
  transition: background-position 0.5s;
}

.botoncomprar:hover {
  background-position: left;
  color: white;
  font-weight: 700;
}


/*Coleres para validar o no los imputs de formulario tarjeta*/

.ng-valid:not(form).ng-touched{
  border: 4px solid #42A948; /*green */
}

.ng-invalid:not(form).ng-touched{
  border: 4px solid #a94442; /*red */
}

.error{
  color:#a94442;
  font-weight: bold;
}