<header>
    <div class="nav-bar">
        <a href="" class="logo">CBA FLY <i class="uil uil-plane-departure"></i></a>
        <div class="navegacion">
            <div class="nav-items">
                <i class="uil uil-times nav-close-btn"></i>
                <a href="/CBAFly/src/app/components/shared/inicio/inicio.component.html"><i class="uil uil-home"></i> Inicio</a>
                <a href="/CBAFly/src/app/components/shared/contacto/contacto.component.html"><i class="uil uil-comment"></i> Contacto</a>
                <a href="/CBAFly/src/app/components/shared/nosotros/nosotros.component.html"><i class="uil uil-users-alt"></i> Sobre Nosotros</a>
                <a href="/CBAFly/src/app/components/auth/login/login.component.html"><i class="uil uil-signin"></i> Iniciar Sesion</a>
                <a href="/CBAFly/src/app/components/dashboard/checkout/checkout.component.html"> Carrito</a>
            </div>
        </div>
        <i class="uil uil-apps nav-menu-btn"></i>
    </div>
</header>