<header class="header" stickyHeader>
    <div class="nav-bar">
        <a routerLink="/inicio" class="logo">CBA FLY <i class="uil uil-plane-departure"></i></a>
        <div class="navegacion">
            <div class="nav-items">
                <i class="uil uil-times nav-close-btn"></i>
                <a routerLink="/inicio" routerLinkActive="nav-link-active"><i class="uil uil-home"></i> Inicio</a>
                <a routerLink="/contacto" routerLinkActive="nav-link-active"><i class="uil uil-comment"></i> Contacto</a>
                <a routerLink="/nosotros" routerLinkActive="nav-link-active"><i class="uil uil-users-alt"></i> Sobre Nosotros</a>
                <a routerLink="/login" routerLinkActive="nav-link-active"><i class="uil uil-signin"></i> Iniciar Sesion</a>
                <a routerLink="/checkout" routerLinkActive="nav-link-active"><i class="bi bi-cart3"></i> Carrito</a>
            </div>
        </div>
        <i class="uil uil-apps nav-menu-btn" appNavToggle></i>
    </div>
</header>