<header>
    <div class="nav-bar">
        <a routerLink="/inicio" class="logo">CBA FLY <i class="uil uil-plane-departure"></i></a>
        <div class="navegacion">
            <div class="nav-items">
                <i class="uil uil-times nav-close-btn"></i>
                <a routerLink="/inicio"><i class="uil uil-home"></i> Inicio</a>
                <a routerLink="/contacto"><i class="uil uil-comment"></i> Contacto</a>
                <a routerLink="/nosotros"><i class="uil uil-users-alt"></i> Sobre Nosotros</a>
                <a routerLink="/login"><i class="uil uil-signin"></i> Iniciar Sesion</a>
                <a routerLink="/checkout"><i class="uil uil-shopping-trolley"></i> Carrito</a>
            </div>
        </div>
        <i class="uil uil-apps nav-menu-btn"></i>
    </div>
</header>