<app-header></app-header>
<section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mr-auto">
          <div class="mb-5">
            <h3 class="text-white mb-4">Contáctanos</h3>
            <p class="text-white">No dudes en comunicarte con nosotros. Nuestro equipo de soporte está aquí para
              ayudarte.</p>
          </div>
        </div>
        <div class=" col-lg-6">
          <div class="box">
            <h3 class="heading">Envía tu mensaje</h3>
            <form class="mb-5" method="post" id="contactForm" name="contactForm" [formGroup]="contactoForm" (ngSubmit)="onSubmit()">
              <div class="row">

                <div class="col-md-12 form-group">
                  <label for="name" class="col-form-label">Nombre</label>
                  <input type="text" class="form-control" name="name" id="name" placeholder="Nombre" formControlName="name">
                </div>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                  <div *ngIf="name.errors?.['required']">
                    El nombre de usuario es requerido
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="email" class="col-form-label">Email</label>
                  <input type="text" class="form-control" name="email" id="email" placeholder="Email" formControlName="email">
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-12 form-group">
                  <label for="message" class="col-form-label">Mensaje</label>
                  <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="Escribe tu mensaje.." formControlName="message"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-block btn-primary rounded-0 py-2 px-4 rounded-3">Enviar</button>
                </div>
              </div>
            </form>

            <div id="form-message-warning mt-4"></div>
          </div>
        </div>
      </div>
    </div>
</section>
<app-footer></app-footer>
