section {
    padding-top: 100px;
    padding-bottom: 80px;
    background-image: url(../../../../img/vueloContacto.jpg);
    background-size: cover;
    font-family: "Poppins", sans-serif;
  }

.box {
    padding: 25px 70px;
    background: rgba(255, 255, 255, 0.905);
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
  }

  :root {
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: #202834;
    --navigation-item-hover-color: #3b5378;
  
    --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  
    --scroll-bar-color: #fff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
  }
  