<app-header></app-header>
<main>
    <div class="content">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="box">
                        <h3 class="heading">Editar información</h3>

                        <form class="mb-5" method="post" id="contactForm" name="contactForm" [formGroup]="form"
                            #f="ngForm" (ngSubmit)="submit()">
                            <div class="row justify-content-center">
                                <div class="col-md-10">
                                    <div class="p-2 py-8">
                                        <div class="row mt-4">
                                            <div class="col-md-12">
                                                <label class="labels">Nombre completo</label>
                                                <input type="text" class="form-control" placeholder="Juana Romero"
                                                    formControlName="nombreCompleto" value="" id="name_config"
                                                    name="nombreCompleto" aria-describedby="NombreyApellidoHelp">
                                            </div>

                                            <div *ngIf="NombreCompleto.errors && NombreCompleto.touched"
                                                class="alert alert-danger">
                                                <p *ngIf="NombreCompleto.hasError('required')">Tu nombre completo es
                                                    requerido.</p>
                                                <p *ngIf="NombreCompleto.errors?.['minlength']">Tu nombre completo debe
                                                    ser de 2
                                                    o más caracteres.</p>
                                                <p *ngIf="NombreCompleto.errors?.['maxlength']">Tu nombre completo debe
                                                    tener menos de 80 caracteres.</p>
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-md-12">
                                                <label class="labels">E-Mail</label>
                                                <input type="email" class="form-control"
                                                    placeholder="xentoasfi@email.com"
                                                    formControlName="correoElectronico" name="correoElectronico"
                                                    aria-describedby="EmailHelp" id="correoElectronico_config" value="">
                                            </div>
                                            <div *ngIf="Email.errors && Email.touched" class="alert alert-danger">
                                                <p *ngIf="Email.hasError('required')">El Correo Electrónico es
                                                    requerido.</p>
                                                <p *ngIf="Email.errors?.['minlength']">El Correo Electrónico debe ser de
                                                    3
                                                    o más caracteres.</p>
                                                <p *ngIf="Email.errors?.['email']"> Ingrese un e-mail con formato
                                                    válido.</p>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="labels">Teléfono</label>
                                                <input type="tel" class="form-control" placeholder="+5403511234567"
                                                    formControlName="telefono" name="telefono"
                                                    aria-describedby="TelefonoHelp" id="telefono_config" value="">
                                            </div>
                                            <div *ngIf="Telefono.errors && Telefono.touched" class="alert alert-danger">
                                                <p *ngIf="Telefono.hasError('required')">El Telefono es
                                                    requerido.</p>
                                                <p *ngIf="Telefono.errors?.['minlength']">El Telefono debe ser de
                                                    6
                                                    o más caracteres.</p>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="labels">DNI o ID</label>
                                                <input type="number" class="form-control" placeholder="36484392"
                                                    formControlName="dni" name="dni" aria-describedby="DNIHelp"
                                                    id="dni_config" value="">
                                            </div>
                                            <div *ngIf="Dni.errors && Dni.touched" class="alert alert-danger">
                                                <p *ngIf="Dni.hasError('required')">El DNI o ID es
                                                    requerido.</p>
                                                <p *ngIf="Dni.errors?.['minlength']">El DNI o ID debe ser de
                                                    4
                                                    o más caracteres.</p>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="labels">Código postal</label>
                                                <input type="number" class="form-control" placeholder="3050"
                                                    formControlName="codigoPostal" name="codigoPostal"
                                                    aria-describedby="CodigoPostalHelp" id="codigoPostal_config"
                                                    value="">
                                            </div>
                                            <div *ngIf="CodigoPostal.errors && CodigoPostal.touched"
                                                class="alert alert-danger">
                                                <p *ngIf="CodigoPostal.hasError('required')">El Codigo Postal es
                                                    requerido.</p>
                                                <p *ngIf="CodigoPostal.errors?.['minlength']">El Codigo Postal debe ser
                                                    de 2
                                                    o más caracteres.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="labels">País</label>
                                                <input type="text" class="form-control" placeholder="Argentina"
                                                    formControlName="pais" name="pais" aria-describedby="PaisHelp"
                                                    id="pais_config" value="">
                                            </div>
                                            <div *ngIf="Pais.errors && Pais.touched" class="alert alert-danger">
                                                <p *ngIf="Pais.hasError('required')">El Pais es requerido.</p>
                                                <p *ngIf="Pais.errors?.['minlength']">El Pais debe ser de 1
                                                    o más caracteres.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="labels">Ciudad</label>
                                                <input type="text" class="form-control" value=""
                                                    formControlName="ciudad" name="ciudad" aria-describedby="CiudadHelp"
                                                    id="ciudad_config" placeholder="Córdoba">
                                            </div>
                                            <div *ngIf="Ciudad.errors && Ciudad.touched" class="alert alert-danger">
                                                <p *ngIf="Ciudad.hasError('required')">Tu Ciudad es
                                                    requerida.</p>
                                                <p *ngIf="Ciudad.errors?.['minlength']">Tu Ciudad debe ser de
                                                    1
                                                    o más caracteres.</p>
                                            </div>

                                            <div class="col-md-6 mt-5 text-center">
                                                <button class="btn btn-primary profile-button" type="submit">Guardar
                                                    Información</button>
                                            </div>

                                            <div class="col-md-6 mt-5 text-center">
                                                <button class="btn btn-secondary profile-button" routerLink="/inicio"
                                                    type="button">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>